<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swift&amp;OC_Mix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21013BBC1D4C431D00BA42AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21013BD01D4C431E00BA42AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21013BDB1D4C431E00BA42AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
